<!DOCTYPE html>
<html x-ng-app="">
	<head>
		<title>3D Experiments!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="js/3dapp.js"></script>
		<link href="css/normalize.css" rel="stylesheet" />
		<link href="css/3dstyle.css" rel="stylesheet" />
	</head>
	<body x-ng-controller="TTTController">

		<!-- Cube rotation controls -->
		<div id="controls">
			<div x-ng-repeat="c in controls" id="control-{{c}}" x-ng-click="rotateCube(c.direction);">
				{{c.direction}}
			</div>
		</div>

		<!-- Cube wrapper -->
		<div id="cube-wrap">
			<div id="cube">
					<!-- front -->
					<div class="face face-2">
						<div x-ng-repeat="x in [0,1,2]">
							<div x-ng-repeat="y in [0,1,2] track by $index" id="{{$parent.$index}}{{$index}}" x-ng-click="clicker(x, y, 0, $event);">
							{{dataCube[x][y][0]}}
							</div>
						</div>
					</div>
					<!-- back -->
					<div class="face face-3">
						<div x-ng-repeat="x in [2,1,0]">
							<div x-ng-repeat="y in [0,1,2] track by $index" id="{{$parent.$index}}{{$index}}" x-ng-click="clicker(x,y,2, $event);">
							{{dataCube[x][y][2]}}
							</div>
						</div>
					</div>

					<!-- right -->
					<div class="face face-1">
						<div x-ng-repeat="z in [0,1,2]">
							<div x-ng-repeat="y in [0,1,2] track by $index" id="{{$parent.$index}}{{$index}}" x-ng-click="clicker(2,y,z, $event);">
							{{dataCube[2][y][z]}}
							</div>
						</div>
					</div>
					<!-- left -->
					<div class="face face-0">
						<div x-ng-repeat="z in [2,1,0]">
							<div x-ng-repeat="y in [0,1,2] track by $index" id="{{$parent.$index}}{{$index}}" x-ng-click="clicker(0,y,z, $event);">
							{{dataCube[0][y][z]}}
							</div>
						</div>
					</div>
					<!-- top -->
					<div class="face face-4">
						<div x-ng-repeat="x in [0,1,2]">
							<div x-ng-repeat="z in [0,1,2] track by $index" id="{{$parent.$index}}{{$index}}" x-ng-click="clicker(x,0,z, $event);">
							{{dataCube[x][0][z]}}
							</div>
						</div>
					</div>
					<!-- bottom-->
					<div class="face face-5">
						<div x-ng-repeat="x in [0,1,2]">
							<div x-ng-repeat="z in [2,1,0] track by $index" id="{{$parent.$index}}{{$index}}" x-ng-click="clicker(x,2,z, $event);">
							{{dataCube[x][2][z]}}
							</div>
						</div>
					</div>
			</div>
		</div>

		<!-- Score Tally -->
		<div id="scores">
			<dl x-ng-repeat="player in players">
				<dt>{{player.name}}:</dt> 
				<dd>Faces won: {{player.facesWon}}</dd>
				<dd>Wins: {{player.wins}}</dd>
			</dl>
			<dl><!-- Game Reset -->
					<button x-ng-click="resetGame();" type="button">New Game</button>
					<button x-ng-click="resetAll();" type="button">New Match</button> 
			<dl>
		</div>
	</body>
</html>